
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    .sdf{
        margin-top:100px;
        margin-left:300px;
    }
</style>
<div class="container sdf">
    <div class="row text-center">
    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Users</h5>
                <h2>@ViewBag.TotalUsers</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>New Today</h5>
                <h2>@ViewBag.NewUsersToday</h2>
            </div>
        </div>
    </div>
</div>



    </div>