<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flexy Free Bootstrap Admin Template by WrapPixel</title>
  <link rel="shortcut icon" type="image/png" href="~/Admin/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="~/Admin/assets/css/styles.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
  <style>
  
   
    .fa-bars {
      cursor: pointer;
      padding: 10px;
    }
  </style>
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">

        <div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">
                @* <a class="d-flex justify-content-center" href="#">
                    <img src="~/Admin/assets/images/logos/logo-wrappixel.svg" alt="" width="150">
                </a> *@
                <i class="fa fa-bars text-white" id="sidebarToggler" onclick="toggleSidebar()"></i>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <span class="nav-link fw-bold text-success">👋 @User.Identity.Name</span>
                    </li>
                    <li class="nav-item ms-2">
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
                              asp-route-returnUrl="@Url.Action("Index", "Home")">
                            <button type="button" onclick="confirmLogout()" class="btn btn-danger">
                                Logout
                            </button>
                        </form>

                    </li>
                }
                else
                {
                    <li class="nav-item"><a class="btn btn-outline-success me-2" href="/Identity/Account/Login">Login</a></li>
                    <li class="nav-item"><a class="btn btn-success rounded-pill px-4" href="/Identity/Account/Register">Join</a></li>
                }
            </div>
        </div>
    <!-- Sidebar Start -->
    <aside class="left-sidebar abd">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="~/Admin/Index" class="text-nowrap logo-img">
            <img src="assets/images/logos/logo.svg" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-6"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/Admin/Index" aria-expanded="false">
                <i class="ti ti-atom"></i>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/Admin/Users" aria-expanded="false">
                           <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="hide-menu">Users</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/Admin/uploadsurways" aria-expanded="false">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                                <span class="hide-menu">Surway Upload</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/Admin/fetchsurvays" aria-expanded="false">
                                <i class="ti ti-atom"></i>
                                <span class="hide-menu">Survays</span>
                            </a>
                        </li>
                                                <li class="sidebar-item">
                            <a class="sidebar-link" href="/Admin/MyAnswers" aria-expanded="false">
                                <i class="ti ti-atom"></i>
                                <span class="hide-menu">Answers</span>
                            </a>
                        </li>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/Admin/fetrchcontact" aria-expanded="false">
                                <i class="ti ti-atom"></i>
                                <span class="hide-menu">Contacts</span>
                            </a>
                        </li>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/Admin/addseminar" aria-expanded="false">
                                <i class="ti ti-atom"></i>
                                <span class="hide-menu">Add seminars</span>
                            </a>
                        </li>
            <!-- ---------------------------------- -->
            <!-- Dashboard -->
            <!-- ---------------------------------- -->

          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
@RenderBody()
        <div class="py-6 px-6 text-center">
            <p class="mb-0 fs-4">
                Design and Developed by <a href="#"
                                           class="pe-1 text-primary text-decoration-underline">Wrappixel.com</a> Distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script src="~/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/assets/js/sidebarmenu.js"></script>
    <script src="~/Admin/assets/js/app.min.js"></script>
    <script src="~/Admin/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Admin/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Admin/assets/js/dashboard.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script>
        function toggleSidebar() {
            var element = document.getElementById("main-wrapper");

            // Check screen width to determine behavior
            if (window.innerWidth > 1199) {
                // Desktop: Toggle 'hide-sidebar'
                element.classList.toggle("hide-sidebar");
            } else {
                // Mobile: Toggle 'show-sidebar'
                element.classList.toggle("show-sidebar");
            }
        }
    </script>
    <script>
        function confirmLogout() {
            if (confirm("Are you sure you want to logout?")) {
                document.getElementById("logoutForm").submit();
            }
        }
    </script>

</body>

</html>